
header {
    margin-top: 10px;
    padding: 20px 5%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.103);
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(10, 8, 8);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #00BABC;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 50px;
}

